[Desktop Entry]
Version=1.0
Type=Application
Name=Rustle
GenericName=Music Player
Comment=Stream NetEase Cloud Music and play your local library
Exec=rustle %u
Icon=life.fxs.rustle
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;player;audio;netease;lyrics;
StartupNotify=true
StartupWMClass=life.fxs.rustle
MimeType=x-scheme-handler/rustle;
